@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&subset=cyrillic');

@font_family: 'Roboto', sans-serif;
@color_black: #000;
@color_accent: #0dae52;
@color_accent_hover: #2cc06c;
@color_accent_active: #098a41;
@main_gradient: linear-gradient(45deg,#101d4f 0,#48cfae 100%);
@border_radius: 4px;
@shadow: 0 0 10px 2px rgba(0, 0, 0, .3);
@shadow_text: 2px 2px 2px rgba(0, 0, 0, .8);
@shadow_text_color: -2px -2px 1px rgba(0, 0, 0, .5);


* {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: normal;
}

a {
  color: @color_black;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

body {
  margin: 0;
  color: @color_black;
  background-color: #fcfcfc;
  font-family: @font_family;
  min-height: 100vh;
  position: relative;
  font-size: 16px;
}

.container {
  display: flex;
  position: fixed;
  transition: .5s;
  left: 0;

  @media screen and (max-width: 1024px) {
    position: static;
  }
}

.section {
  width: 100vw;
  height: calc(100vh - 80px);
  padding: 15vh 10vw calc(15vh - 80px);
  position: relative;

  &__content {
    height: 100%;
    width: 100%;
    position: relative;
  }

  &__pagename {
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 600;
    font-size: 1.5rem;
    transition: .25s;
    &:hover {
      color: @color_accent;
    }
    &:active {
      color: @color_accent_active;
    }
  }

  &__btn-arrow {
    background-color: @color_accent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url('/assets/img/arrow.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
    &:hover {
      background-color: @color_accent_hover;
    }
    &:active {
      background-color: @color_accent_active;
    }
  }

  &__btn-larrow {
    border-radius: 50%;
    background-image: url('/assets/img/larrow.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
  }

  &__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #191919;
    font-weight: 500;
  }

  
  &__right-control, &__left-control {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    &:hover {
      color: @color_accent_hover;
    }
  }

  &__right-control {
    right: 0;
  }

  &__left-control {
    left: 0;
    right: auto;
  }

  &__btn-text {
    text-transform: uppercase;
    color: @color_accent;
    display: block;
    margin: 0 25px;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 500;
    &_next {
      margin: 0 35px;
    }
  }

  &__bot-line {
    height: 3px;
    width: 60%;
    background-color: #e2e2e2;
    position: absolute;
    bottom: 23px;
    right: 15%;
  }

  &__top-line {
    width: 3px;
    position: absolute;
    right: calc(10vw + 1.2%);
    top: 0;
    height: 13vh;
    background-color: #e2e2e2;
  }

  @media screen and (max-width: 1400px) {
    &__bot-line {
      width: 55%;
      right: 20%;
    }

    &__btn-text {
      font-size: 1.2rem;
      margin: 0 15px;
      &_next {
        margin: 0 25px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 0;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    &_fix {
      overflow-y: hidden;
    }

    &__content {
      min-height: calc(~'100vh - 50px');
      width: calc(~'100% - 50px');
      margin: 0 25px;
      height: auto;
    }

    &__bot-line {
      display: none;
    }

    &__top-line {
      right: 48px;
      top: 35px;
      width: 1px;
      height: 77%;
    }

    &__title {
      margin-top: 25px;
    }

    &__pagename {
      top: 2px;
    }

    &__left-control {
      left: -10px;
    }
  }

  
  @media screen and (max-width: 767px) {
    &__pagename {
      right: -17px;
      font-size: 1.2rem;
      letter-spacing: 2px;
    }

    &__title {
      font-size: 2rem;
      margin-right: 40px;
    }

    &__top-line {
      right: 30px;
      top: 13%;
      height: 100%;
      background: linear-gradient(to bottom, #e2e2e2, rgba(0, 0, 0, 0));
    }
  }
  
  @media screen and (max-width: 330px) {
    &__btn-text {
      letter-spacing: 0px;
      margin: 0 5px;
      &_next {
        margin: 0 15px;
      }
    }

    &__title {
      font-size: 1.7rem;
    }
  }
}

.greet {
  background-image: url('/assets/img/green.png');
  background-repeat: no-repeat;
  background-position: 65% bottom;
  background-size: 50vmax;

  &__bottom-line {
    width: 30%;
    position: absolute;
    bottom: 7%;
    height: 3px;
    background-color: #e2e2e2;
  }

  &__right-line {
    width: 3px;
    position: absolute;
    right: 1.5%;
    top: 9%;
    height: 70%;
    background-color: #e2e2e2;
  }

  &__title {
    font-size: 6rem;
    width: 30%;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 5.6rem;
  }

  &__text {
    font-size: 2.5rem;
    width: 30%;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 3rem;
    color: @color_accent;
  }

  @media screen and (max-width: 1400px) {
    &__bottom-line {
      width: 40%;
      height: 2px;
      bottom: 5.5%;
    }
  }

  @media screen and (max-width: 1024px) {
    &__title {
      width: 100%;
      margin-top: 25px;
    }

    &__bottom-line {
      bottom: 0;
    }

    &__text {
      width: 50%;
    }

    &__pagename {
      top: 4px;
    }
  }

  @media screen and (max-width: 767px) {
    &__btn-text {
      width: 50%;
      text-align: right;
    }

    &__right-control {
      justify-content: flex-end;
    }
  }

  @media screen and (max-width: 480px) {
    background-position: center 75%;

    &__title {
      font-size: 4.5rem;
      line-height: 4.5rem;
    }

    &__text {
      font-size: 2rem;
      width: 100%;
      margin-top: 15px;
    }

    &__bottom-line {
      height: 1px;
      left: -25px;
      bottom: 15px;
    }

    &__right-line {
      width: 1px;
    }
  }
}

.about {
  &__text-list {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }

  &__text-item {
    flex: 1;
    margin: 0 5%;
    overflow: hidden;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &__text {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6rem;
  }

  @media screen and (max-width: 1400px) {
    &__text {
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
  }

  @media screen and (max-width: 1024px) {
  }

  @media screen and (max-width: 768px) {
    &__text-list {
      flex-direction: column;
      align-items: center;
      padding-right: 100px;
      padding-bottom: 50px;
      margin-bottom: 47px;
    }

    &__text-item {
      margin: 0;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width: 767px) {
    &__text-list {
      margin-top: 50px;
    }
  }
}

.how {
  &__text-list {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
  }

  &__text-item {
    flex: 1;
    margin: 0 5%;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &__text-img {
    max-width: 50px;
    max-height: 50px;
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
  }

  &__text-visual {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 10px solid #fafafa;
    border-radius: 50%;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &_pl {
      padding-left: 10px;
    }
  }

  &__text-number {
    position: absolute;
    color: #fff;
    background-color: @color_accent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    margin-top: 30px;
    display: block;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
  }

  @media screen and (max-width: 1400px) {
    &__text {
      font-size: 1.1rem;
      line-height: 1.35rem;
    }
  }

  @media screen and (max-width: 1024px) {
    &__text-list {
      flex-direction: column;
      align-items: center;
      padding-bottom: 50px;
      margin-bottom: 47px;
    }

    &__text-item {
      width: 50%;
      margin: 0;
      margin-bottom: 25px;
    }

    &__text-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__text-img {
      width: auto !important;
    }
  }

  @media screen and (max-width: 767px) {
    &__text-list {
      margin-top: 50px;
    }
  }
}

.partner {
  &__list {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin: 0 5%;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, .1);
    transition: .25s;
    &:hover {
      box-shadow: none;
      transform: scale(1.05);
    }
  }

  @media screen and (max-width: 1400px) {
    &__item {
      margin: 0 3%;
    }
  }

  @media screen and (max-width: 1024px) {
    &__list {
      flex-direction: column;
      padding-bottom: 50px;
      margin-bottom: 47px;
    }

    &__item {
      margin: 0;
      margin-bottom: 25px;
    }

    &__wrapper {
      width: 300px;
      margin: auto;
    }
  }

  @media screen and (max-width: 767px) {
    &__list {
      margin-top: 50px;
    }
  }
  
  @media screen and (max-width: 360px) {
    &__wrapper {
      width: 100%;
    }
  }
}

.request {
  &__form {
    width: 70%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  &__row {
    position: relative;
    display: flex;
    &_btn {
      justify-content: flex-end;
    }
  }

  &__control {
    flex: 1;
    border: 1px solid #dadada;
    border-radius: 50px;
    padding: 13px 22px;
    margin-bottom: 20px;
    outline: none;
    font-size: 1.1rem;
    font-weight: 300;
    font-family: @font_family;
    background-color: #fcfcfc;
    transition: .25s;
    -webkit-appearance: none;
    &::placeholder {
      text-overflow: ellipsis;
    }
    &:nth-child(2n) {
      margin-left: 20px;
    }
    &:focus {
      background-color: #fff;
      border-color: @color_accent;
    }
  }

  &__select {
    appearance: none;
    background-image: url('/assets/img/arrow-btn.png');
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__submit {
    text-transform: uppercase;
    color: #fff;
    display: block;
    margin: 0 25px;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    font-weight: 500;
    background-color: @color_accent;
    border-radius: 50px;
    border: none;
    padding: 13px 22px;
    margin: 0;
    cursor: pointer;
    outline: none;
    &:hover {
      background-color: @color_accent_hover;
    }
    &:active {
      background-color: @color_accent_active;
    }
  }

  @media screen and (max-width: 1400px) {
    &__form {
      width: 75%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width: 767px) {
    &__form {
      width: 100%;
      margin-bottom: 95px;
    }

    &__top-line {
      display: none;
    }

    &__control {
      padding: 8px 15px;
      border-radius: 10px;
      margin-bottom: 20px;
      resize: none;
      &:nth-child(2n) {
        margin-left: 0;
      }
    }

    &__submit {
      padding: 10px 15px;
      font-size: 1.1rem;
    }

    &__row {
      flex-direction: column;
    }

    &__content {
      overflow: visible;
    }
  }

  @media screen and (max-width: 480px) {
    &__select {
      background-position: 93% center;
    }
  }
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  padding: 0 10vw;
  font-weight: 300;
  font-size: 1.1rem;

  &__socials {
    display: flex;
  }

  &__social-item {
    margin: 0 5px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &__social-img {
    max-width: 32px;
    max-height: 32px;
  }

  @media screen and (max-width: 1024px) {
    left: 0;
    padding: 0 25px;

    &__text {
      flex: 2;
    }

    &__socials {
      flex: 1;
    }
  }
}

body .modal {
  width: 100%;
  &__item-title {
    margin-top: 15px;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__text {
    max-height: 0;
    overflow: hidden;
    transition: .25s;
    font-weight: 300;
    &_show {
      padding-top: 10px;
      max-height: 1000px;
    }
  }

  a.close-modal {
    background-image: url('/assets/img/icons/close.png');
    transition: .25s;
    &:hover {
      opacity: .9;
    }
  }
}

.acs {
  opacity: 0;
  // transition: none;
  @media screen and (max-width: 1024px) {
    opacity: 1;
  }
}

*.show {
  opacity: 1;
}

.owl-nav {
  display: none;
}