<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document

    link(rel="stylesheet", href="/assets/css/style.css")
  body
    header.header
    h1 Hello World!
    footer.footer 123
    
    script(src="/assets/scripts/common.js")
    script(src="/assets/scripts/main.js")